/* header */
 body{
          background-image:url('background.JPG');
          background-repeat:no-repeat; 
          background-size:cover;
          background-position:0% 45%; margin:0%;
}
     nav{
          height:100px;
          margin-bottom:0%;
}
     #logo{
          position:relative;
          left:50px;
          float:left;
}
     #logo_naslov{
          font-size:32pt;
          color:#0072cc; 
          position:relative;
          left:5%;
          display:inline; 
          margin-right:20%; 
}
     .linkovi{
          margin-right:30px;
          color:#0072cc;
          font-weight:bold;
          font-size:14pt; 
}
     .blinkovi{
          margin-right:30px;
          background-color:#0072cc;
          color:#ffffff;
          font-size:14pt;
          font-weight:bold;
          padding:5px;
}
     #vrh{
          background-color:#0072cc;
          opacity:0.5;
          text-align:center;
          display:margin-top:0%;
}
     main{
          display:inline-block;
          width:100%;
          padding:0;
}
     p:nth-child(1){
          font-size:40pt;
          color:#ffffff;
          opacity:1;
}
     p:nth-child(2){
          font-size:24pt;
          color:#ffffff;
          opacity:1;
}
     p:nth-child(3){
          font-size:16pt;
          color:#ffffff;
          opacity:1;
}
     #deca{
          width:30%;
          height:40%;
          position:absolute;
          left:35%;
          top:60%; 
}

